

:root {
  --main-color: rgb(201, 233, 206);
  --second-color: #ffffff;
  --third-color: black;
}

body {
  font-family: 'ubuntu', sans-serif;
  background-color: var(--second-color);
  /* border: solid 1px red; */
}


/* HEADER */      

.hero {
  max-width: 100%;
  height: 60vh;
  padding: 10px 0;
	position: relative;
  background-image: url("https://image.freepik.com/vector-gratis/numeros-codigo-binario-futurista-fondo-datos-digitales_1017-25334.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Capa de Opacidad de la imagen*/
.hero:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
		90deg,
		rgba(52,57,62,.5),	
		rgba(52,57,62,.5)
	);
}

.hero .wrap {
	max-width: 1000px;
	margin: 0 auto;
	display: grid;
  justify-content: top;
}

.hero .wrap .box {
	z-index: 2;
}

/*--NAVEGADOR ---*/

.hero .wrap .box .menu ul {
    display: grid;
    grid-gap: 10px;
    margin: 10px;
    padding: 10px;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
  }

.hero .wrap .box .menu a {
    display: block;
    border: solid 1px;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: var(--second-color);
  }
 
  /* ------------------------PRESENTACIÓN*/
.hero .wrap .box .portada {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 4fr));
  height: 300px;
  margin: 20px;
  color: var(--main-color);
  text-align: center;
}

.hero .wrap .box .portada .encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-color);
  border-radius: 55px;
  margin: 15px;
  padding: 10px;
  border: solid 1px var(--third-color);
  color: black;
}

.hero .wrap .box .portada .presentacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--second-color);
  border-radius: 55px;
  margin: 15px;
  padding: 10px;
  border: solid 1px black;
  color: black;
}


  /* ------------------------SERVICIOS */
.servicios {
  border: solid 10px black;
  height: auto;
  column-gap: 10px;
  margin: 10px;
  padding: 15px 50px;
}

.servicios .tituloprincipal {
  position: flex;
  text-align: center;
  color: black;
  font-size: 40px;
}

.servicios .trescajas {
  border: solid 1px black;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 60px;
  padding: 15px;
}

.servicios .trescajas .cajaservicios {
  margin-top: 20px;
  border: 1px solid var(--third-color);
  padding: 5px 5px;
  text-align: center;
}

.servicios .trescajas .cajaservicios button{
  border: 1px solid var(--main-color);
  
}

  /* ------------------------PORFOLIO */

.porfolio {
  display: flex;
  justify-content: center;
  align-content: center;
  border: solid 10px var(--third-color);
  margin: 10px;
  padding: 15px 20px;
}

.porfolio .wrap .tituloprincipal {
  position: flex;
  text-align: center;
  font-size: 40px;
}

.porfolio .wrap .cajas {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--third-color);
  padding: 20px;
}

.porfolio .wrap .cajas .cajaservicios{
  text-align: center;
  border: 1px solid var(--third-color);
  margin:10px;
  padding: 20px;
}



  /* ------------------------FORMULARIO DE CONTACTO */
.formulario {
  display: grid;
  border: 10px solid var(--third-color);
  margin: 10px;
  justify-content: center;
}

.formulario .cajaformulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  margin: 20px;
  padding: 10px;
  border: 1px solid var(--third-color);
  color: var(--third-color);
}

.formulario .cajaformulario .form-control {
  margin:10px;
}

.formulario .cajaformulario input,
textarea {
  width: 100%;
}

.formulario .cajaformulario input[type="submit"]{
  background-color: var(--second-color);
  font-weight: bold;
  height: 35px;
  margin-top: 15px;
  margin: 0 15px 0 10px;

} 

  /* ------------------------FOOTER */

.footercompleto {
    position: relative;
    margin: 10px;
    bottom: 0;
    height: 250px;
    border: 10px solid var(--third-color);
    color:var(--third-color);
  }

.footercompleto .cajapie1{
    padding-top: 50px;
    text-align: center;
    line-height: 10px;

  }

.footercompleto .cajapie2 {
    padding: 20px;
    text-align: center;
  }