

/* NAVEGADOR */

header {
        margin: 2% 2%;
        /* border: solid 1px red; */
}

.navbar-nav a {
        font-size: 11px;
 }
 

.navbar-nav {
        margin-left: 20%;
        column-gap: 1%;
        width: 100%;
}

.nav-item:hover {
        background-color: #e9bada;
}



/* SECTION HERO */ 

.hero-image {
        background-image: url("../img/heroe.jpg");
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-bottom: 20px;
        /* border: solid 1px red; */
}

.hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
      }

/* CALL TO ACTION (ICONOS)  */

.container {
        border: solid 1px black;
        margin-bottom: 20px;
}

#iconos {
        margin:25px auto 25px auto;
}

#iconos .row  {
        display: flex;
        text-align: center;
        /* border: solid 1px red; */
    }

#iconos .row .col {
        display: inline-block;
        margin: 10px;
        /* border: solid 1px blue; */
}

/* #iconos .row .col img {
        border: solid 1px green;

} */

/******************CALL TO ACTION (EFECTO TEXTO APARECE) */

#iconos .row .col .text {
        bottom: -50px;
}

#iconos .row .col .text {
        opacity: 0;
        position: relative;
        transition: all .5s ease-in-out;
}

#iconos .row .col:hover .text{
        bottom: 0;
}

#iconos .row .col:hover .hide{
        opacity: 1;
}

/*********************** COLLAPSE (ACORDEON) */
#features {
        min-height: 100px;
        /* border: solid 1px red; */
}

#features .fbtn {
        padding-top: 20px;
}

#features .container .row .col-md-4 .btn {
        background-color: #b31a82 ;
        color: #fff;
}


/********************** POPOVER */
#popup {
        /* border: solid 1px red; */
        margin: 20px;
}

#popup .container .row #btnpopup {
        margin: auto 20px 20px 40px;
}

/**************** FOOTER */
footer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150px;
        background-color: #333;
        color: #fff;
        margin: 0 auto;
        padding:25px;
}

footer .wrap a {
        color: white;
        font-weight: 100;
        text-decoration: none;

}



